.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin
rel/example_project
rel/jc_console
.concrete/DEV_MODE
.rebar

#OS X stuff to ignore
.DS_Store

# UI Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

#ui dist folder
ui/dist

#JetBrains tools file
.idea
*.log
