% -*- mode: erlang -*-
{plugins, []}.

{erl_opts, [warn_missing_spec, 
	    {parse_transform, lager_transform}]}.

{cover_enabled, true}.
{sub_dirs, [
            "rel"
           ]}.

% Dependencies 
{deps, [
	{lager,  ".*", {git, "git://github.com/basho/lager.git", 
			{tag, "3.2.1"}}},
        {jsonx,  ".*",  {git, "git://github.com/iskra/jsonx.git"}},
        {cowboy, ".*", {git, "git://github.com/ninenines/cowboy.git",
			{tag, "1.0.4"}}},
        {lasse,  ".*", {git, "git://github.com/inaka/lasse.git",
			{tag, "1.0.1"}}}
       ]}.

% Documentation
{edoc_opts, [{skip_deps, true},
             {preprocess, true}, 
	     {packages, true},
	     {includes, "./include"}] }.

{dialyzer_opts, [{warnings, [no_return,
                             no_unused,
                             no_improper_lists,
                             no_fun_app,
                             no_match,
                             no_opaque,
                             no_fail_call,
                             error_handling,
                             race_conditions,
                             behaviours,
                             unmatched_returns]}]}.





