html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto, sans-serif;
}

.c3-app {
  @import "vendors/bootstrap_grid.css";

  @import "fonts/all";

  @import "base/all";

  @import "abstracts/all";

  @import 'containers/all';

  @import 'components/all';

  @import 'layout/all';

  @import 'themes/all';

  @import 'vendors/all';
}
